@model Client.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>
        Soft UI Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
</head>

<body class="">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
        <div class="container">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="../pages/dashboard.html">
                Sistem Informasi Kampus
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <main class="main-content  mt-0">
        <section class="min-vh-100 mb-8">
            <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/curved-images/curved14.jpg');">
                <span class="mask bg-gradient-dark opacity-6"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center mx-auto">
                            <h1 class="text-white mb-2 mt-5">Welcome!</h1>
                            <p class="text-lead text-white">Isilah Kolom dibawah ini</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-header text-center pt-4">
                                <h5>Register with</h5>
                            </div>
                            <div class="row px-xl-5 px-sm-4 px-3">
                            </div>
                            <div class="card-body">
                                <form role="form text-left" asp-action="Register">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-3">
                                        <input asp-for="Nim" type="text" class="form-control" placeholder="Nim" aria-label="Nim" aria-describedby="email-addon">
                                        <span asp-validation-for="Nim" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName" aria-label="FirstName" aria-describedby="email-addon">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="LastName" type="text" class="form-control" placeholder="LastName" aria-label="LastName" aria-describedby="email-addon">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="BirthDate" type="date" class="form-control" placeholder="Birthdate" aria-label="Birthdate" aria-describedby="email-addon">
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <select asp-for="Gender" class="form-select mt-3">
                                            <option selected disabled value="" style="color:grey;">Gender</option>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="email-addon">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="Address" type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="email-addon">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="FacultyName" type="text" class="form-control" placeholder="Faculty Name" aria-label="Faculty Name" aria-describedby="email-addon">
                                        <span asp-validation-for="FacultyName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="MajorName" type="text" class="form-control" placeholder="Major Name" aria-label="Major Name" aria-describedby="email-addon">
                                        <span asp-validation-for="MajorName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                                    </div>
                                    <div class="mb-3">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="email-addon">
                                    </div>
                                    @*                                    <div class="form-check form-check-info text-left">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label" for="flexCheckDefault">
                                    I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                                    </label>
                                    </div>*@
                                    <div class="text-center">
                                        <button type="submit" value="Register" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign up</button>
                                    </div>
                                </form>
                                <p class="text-sm mt-3 mb-0">Already have an account? <a href="https://localhost:7261/Accounts/Login" class="text-dark font-weight-bolder">Sign in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
        <footer class="footer py-5">
            <div class="container">
                <div class="row">

        </footer>
        <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    </main>
    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>
